---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url({{ site.baseurl }}/assets/roboto-light.woff2) format('woff2'),
       url({{ site.baseurl }}/assets/roboto-light.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url({{ site.baseurl }}/assets/roboto-regular.woff2) format('woff2'),
       url({{ site.baseurl }}/assets/roboto-regular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url({{ site.baseurl }}/assets/roboto-medium.woff2) format('woff2'),
       url({{ site.baseurl }}/assets/roboto-medium.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url({{ site.baseurl }}/assets/roboto-bold.woff2) format('woff2'),
       url({{ site.baseurl }}/assets/roboto-bold.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  src: local('Roboto Slab'), local('RobotoSlab-Bold'),
       url({{ site.baseurl }}/assets/robotoslab-bold.woff2) format('woff2'),
       url({{ site.baseurl }}/assets/robotoslab-bold.woff) format('woff');
}


$base-font-family: 'Roboto', sans-serif;
$base-font-size:   16px;
$small-font-size:  0.875 * $base-font-size;

$base-line-height:    1.8;
$sidebar-line-height: 1.5;

$heading-font-weight:   300;
$base-font-weight:      400;
$bold-font-weight:      500;
$extrabold-font-weight: 700;

$spacing-unit:      32px;

$global-background: #e5e5e5;
$complimentary-grey: #f0eef2;
$content-background: #fff;

$text-color:        #2f3f4f;
$text-color-light:  #707080;
$primary-color:     #1976d2;
$hr-color:          #ccc;

$content-width:     1000px;

$phone:             500px;
$tablet:            750px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import
    "base",
    "layout",
    "syntax-highlighting"
;
