<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="dns-prefetch" href="https://search.f-droid.org"/>
  <link rel="dns-prefetch" href="https://fdroid.gitlab.io"/>
  <link rel="stylesheet" href="{% root %}/css/main.css"/>
  <link rel="canonical" href="{% root %}{{ page.url | replace:'index.html','' }}"/>
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{% root %}/feed.xml"/>

  <link href="{% root %}/osd.xml" rel="search" title="F-Droid" type="application/opensearchdescription+xml"/>

  <link rel="apple-touch-icon" sizes="180x180" href="{% assets %}/apple-touch-icon.png?v=8j6PKzW9Mk"/>
  <link rel="icon" type="image/png" sizes="48x48" href="{% assets %}/favicon.png?v=8j6PKzW9Mk"/>
  <link rel="icon" type="image/png" sizes="32x32" href="{% assets %}/favicon-32x32.png?v=8j6PKzW9Mk"/>
  <link rel="icon" type="image/png" sizes="16x16" href="{% assets %}/favicon-16x16.png?v=8j6PKzW9Mk"/>
  <link rel="manifest" href="{% assets %}/site.webmanifest?v=8j6PKzW9Mk"/>
  <link rel="mask-icon" href="{% assets %}/safari-pinned-tab.svg?v=8j6PKzW9Mk" color="#5bbad5"/>
  <link rel="shortcut icon" href="{% assets %}/favicon.ico?v=8j6PKzW9Mk"/>
  <meta name="msapplication-TileColor" content="#ffffff"/>
  <meta name="msapplication-config" content="{% assets %}/browserconfig.xml?v=8j6PKzW9Mk"/>
  <meta name="theme-color" content="#ffffff"/>

{% for lang in site.languages %}
{%- if lang == site.default_lang or lang == 'en' -%}
  {% continue %}
{% endif %}
  {% if site.baseurl == '' %}
  <link rel="alternate" hreflang="{{ lang }}" href="/{{ lang }}{{ page.permalink }}" />
  {% endif %}
{% endfor %}
</head>
