.post-list {
    @include reset-ul;
    li {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: .3em;
        max-width: 100%;
        overflow: hidden;
        .post-meta {
            font-size: .9em;
            color: $text-color-light;
            line-height: 1.2em;
        }
        a {
            font-weight: $bold-font-weight
        }
    }
}
