.donate-options {
    @include reset-ul;
    @include media-query($tablet) {
        text-align:center;
    }

    .donate-option:not(.hellotux) {
        display: inline-block;
        vertical-align: middle;

        &.bitcoin-url {
            margin: 0.6em -0.2em;
            font-size: 0.8em;
        }

        &.bank-transfer {
            display: block;
            margin: 0.2em 0 0.7em;
            font-size: 0.9em;
            font-weight: bold;

            ul {
                @include reset-ul;
            }

            li {
                font-weight: $base-font-weight;
            }
        }
    }

    .donate-option {
        &.hellotux {
            margin: 0.7em -1em;
            border: 1px solid $text-color;
            padding: 0;
            text-align: center;
            font-size: 0.9em;
            font-weight: $bold-font-weight;
            vertical-align: middle;
            background-color: inherit;
            transform: rotate(-2deg);

            a {
                display: inline-block;
                padding: 0 1.4em;
            }

            img {
                margin: 2px;
                width: 10.2em;
                vertical-align: middle;
            }
        }
        &.opencollective {
           img {
               height: 30px;
           }
        }
    }

    .small {
        text-align:right;
    }

    & ~ p:last-child {
        margin-bottom: 0;
        text-align:right;
    }
}
